.md-layer-1-0-0 {
z-index: 999 !important;}
.md-layer-1-0-1 {
z-index: 1000 !important; color: #ffffff !important;
 font-size: 4.33333333333em;
 font-family: Open Sans;
}
.md-layer-1-0-2 {
z-index: 995 !important; color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-0-3 {
z-index: 994 !important; color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-0-4 {
z-index: 993 !important; color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-0-5 {
z-index: 996 !important;}
.md-layer-1-0-6 {
z-index: 997 !important;}
.md-layer-1-1-0 {
z-index: 2 !important;}
.md-layer-1-1-1 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 4.33333333333em;
 font-family: Open Sans;
}
.md-layer-1-1-2 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-1-3 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-1-4 {
z-index: 2 !important; color: #ffffff !important;
 font-size: 2.5em;
}
.md-layer-1-1-5 {
z-index: 2 !important;}
.md-layer-1-1-6 {
z-index: 2 !important;}