@media (max-width: 1336px) {
    .container {
        width: 960px;
    }

    body {
        font-size: 14px;
    }

    #section-header #block-superhero-dropdown-superhero-dropdown-block-2 .menu li a {
        font-size: 1em;
    }

    .mobit_btn {
        font-size: 1em;
    }

    #section-header {
        #block-block-60 {
            padding-top: 37px;
        }

        #block-block-61 {
            padding-top: 36px;
        }
    }
}
// @media (min-width:993px) {
//     #section-header #block-menu-menu-mobit-main-menu .superhero-dropdown > ul > li > a.active,
//     #section-header #block-superhero-dropdown-superhero-dropdown-block-2 .superhero-dropdown > ul > li > a.active-hash{
//       color: $order_btn !important;
//     }
// }
 @media (max-width: 992px){
    #section-header {
        .region-logo {
            width: 30%;

            a {
                line-height: 60px;

                img {
                    max-width: 100%;
                }
            }
        }

        .region-news3-second {
            display: block;
            float: right;
        }

        .region-menu {
            width: 100%;
        }

        .region-news4-second {
            width: 100%;
            display: block;
            background: $order_btn;
        }

        #block-block-60 {
            padding-top: 23px;
        }

        #block-block-61 {
            padding-top: 22px;
        }

        #block-block-62 {
            margin-bottom: 0;
            padding: 10px 0;

            .content {
                text-align: right;
            }

            .mobit_btn {
                width: auto;
                @include mobit_btn($base_blue);
            }
        }

        .region-news2-second {
            width: 45%;
        }

        #block-superhero-dropdown-superhero-dropdown-block-2 {
            padding-top: 0;

            a.superhero-mobile-menu-toggle {
                right: auto;
                left: 3px;
                top: 10px;
                z-index: 9999;
                font-size: 33px;
                border: none;
                background: none;
                display: block !important;
            }

            .superhero-dropdown {
                top: 58px;
                background: $base_blue;

                li {
                    background: $base_blue;

                    a {
                        color: #fff !important;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    #block-block-70,
    #block-block-71 {
        text-align: center;
    }

    #block-webform-client-block-89 {
        .form-actions,
        .form-item {
            display: block;
            margin: 1em auto;
            text-align: center;
        }
    }
}

@media (min-width: 768px){
  #block-block-75{
    // display: none;
  }

  #block-block-75--2{
    display: block;
  }
}

@media (max-width: 767px) {
    .region-news3-second {
        display: none;
    }

    .region-news4-second {
        display: none;
    }

    #section-header #block-block-60 {
        padding-top: 24px;
    }

    #block-block-63, #block-block-77,#block-block-78,#block-block-79, #block-block-80, #block-block-81 {
        h4 {
            font-size: 1.1em;
        }
    }

    .ctrl_proccess_step-order {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 2em;
        right: 13px;
        bottom: -14px;
    }

      .per-quote__wrap {
          margin-bottom: 100px;
          &:last-child{
            margin-bottom: 0;
          }
      }


    #block-block-68 .content {
        text-align: center;
    }

    .region-bottom-first,
    .region-bottom-second {
        text-align: center;
    }

    .md-slide-bullet-1,
    .md-slide-bullet-3 {
        .md-bullets {
            bottom: -35px;

            .md-bullet {
                width: 15px;
                height: 15px;
            }
        }
    }

    .view-view-middle-slider .bx-pager{
      position: static;
      margin-top: 2em;
      text-align: left;
    }
    #block-views-view-middle-slider-block-1, #block-views-view-middle-slider-block-3{
      .bx-pager{
        text-align: left;
        padding: 0;
      }
    }
    .region-user-third{
      padding-left: 15px;
    }

    #block-block-75{
      display: block;
      margin-bottom: 0;
    }

    .region-user-third{
     margin-top: 30px;
    }
    #block-block-75--2{
      display: none;
    }

}
@media (max-width: 660px) {
    .region-bottom-first,
    .region-bottom-second {
        width: 100%;
        float: none;
    }

    #section-bottom {
        .region-bottom-third {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }

    .region-news2-second {
        display: none;
    }

    .region-news3-second {
        width: 50%;
    }

    #section-header #block-block-61 .content {
        text-align: right;
        font-weight: bold;
    }

    #section-header {
        .region-logo {
            width: 50%;
        }
    }
}
@media (min-width: 561px) {
    #block-md-slider-11,
    #block-md-slider-8,
    #block-md-slider-9, #block-md-slider-35, #block-md-slider-36,#block-md-slider-38, #block-md-slider-39,#block-md-slider-21 {
        display: none;
    }

    .ctrl_proccess__step--4-mobile {
        display: none;
    }

    .ctrl_proccess__step--3 {
        display: block;
    }
}
@media (max-width: 560px) {
    #section-header {
        .region-logo {
            // width: 100%;
            // width: 160px;
        }

        .region-news2-second {
            display: none;
        }
    }

    #block-md-slider-7 {
        margin-left: -75px;
    }

    #block-block-70 {
        h1 {
            font-size: 2em;
        }
    }

    #block-md-slider-1,#block-md-slider-28, #block-md-slider-30,#block-md-slider-32, #block-md-slider-33,#block-md-slider-34 {
        display: none;

    }

    #block-md-slider-8, #block-md-slider-35, #block-md-slider-36,#block-md-slider-38, #block-md-slider-39,#block-md-slider-21 {
        display: block;
        margin-top: 0;
    }

    #block-md-slider-11,
    #block-md-slider-9 {
        display: block;
    }

    #block-md-slider-9 {
        margin-bottom: 8em;
    }

    #block-md-slider-5,
    #block-md-slider-7 {
        display: none;
    }

    #webform-node-89,
    #webform-node-90 {
        padding-top: 20%;
    }

    .ctrl_proccess {
        padding-bottom: 20%;
    }

    .ctrl_proccess__step {
        width: 100%;
        position: relative;
        padding-top: 108px;

        &--1 {
            padding-right: 15px;
        }

        &--2,
        &--4 {
            padding-left: 15px;
        }

        &--1 {
            padding-top: 62px;

            .ctrl_proccess__title {
                background: none;
                height: auto;
                padding: 20px;
            }
        }

        &--4-mobile {
            display: block;
        }

        &--3 {
            display: none;
        }
    }

    .ctrl_proccess__img {
        img {
            display: block;
            width: 100%;
        }
    }

    .ctrl_proccess__title {
        position: absolute;
        top: 0;
        width: 100%;
        height: 108px;
        left: 0;
        background: url("/sites/all/themes/consilium/images/arrowsupdown_mobile.png") no-repeat center 0;
        text-align: center;
        background-size: cover;
        padding-top: 45px;

        span {
            width: 180px;
            display: block;
            margin: 0 auto;
        }
    }

    .ctrl_proccess_step-order {
        z-index: 3;
        right: 43%;
        width: 60px;
        height: 60px;
        line-height: 54px;
        bottom: -32px;
        border: 3px solid #fff;
    }

    .ctrl_proccess__step--arrow-left,
    .ctrl_proccess__step--arrow-right {
        display: none;
    }

    #block-block-73, #block-block-94,#block-block-95,
    #block-block-96, #block-block-97,#block-block-98,
    #block-block-99{
    .block-title {
        margin-bottom: 1em;
      }
    }
}
@media (max-width: 360px) {
    #section-header {
        .region-logo {
            width: 50%;
        }

        .region-news3-second {
            display: block;
        }

        a.superhero-mobile-menu-toggle {
            right: auto;
            left: 3px;
            top: 20px;
            z-index: 2;
            font-size: 33px;
            border: none;
            background: none;
        }

        .superhero-dropdown {
            bottom: 0;
            background: $base_blue;

            li {
                background: $base_blue;

                a {
                    color: #fff !important;
                }
            }
        }

        .region-news4-second {
            display: block;
            background: $order_btn;
        }

        #block-block-62 {
            margin-bottom: 0;
            padding: 10px 0;

            .content {
                text-align: right;
            }

            .mobit_btn {
                width: auto;
                @include mobit_btn($base_blue);
            }
        }
    }
}

@media (min-width:1921px){ 
  // main slider >1920pxW layer issues fix
  .md-layer-28-0-0,  {
      width: 36.3125% !important;
      left: 12.5% !important;
      overflow: hidden !important;
      display: block !important;
      border-radius: 10px !important;
  }
   .md-layer-34-0-0 {
      width: 37.3125% !important;
      left: 14.5% !important;
      overflow: hidden !important;
      display: block !important;
      border-radius: 10px !important;
  }
  .md-layer-33-0-0 {
      width: 36.3125% !important;
      left: 12.5% !important;
      overflow: hidden !important;
      display: block !important;
      border-radius: 10px !important;
  }
  .md-layer-32-0-0 {
      width: 36.3125% !important;
      left: 14.5% !important;
      overflow: hidden !important;
      display: block !important;
      border-radius: 10px !important;
  }
  .md-layer-30-0-0 {
      width: 36.3125% !important;
      left: 14.5% !important;
      overflow: hidden !important;
      display: block !important;
      border-radius: 10px !important;
  }
  .md-layer-1-0-0{
      width: 36.3125% !important;
      left: 12.5% !important;
      overflow: hidden !important;
      display: block !important;
      border-radius: 10px !important;
  }

}
