@media (max-width: 1336px) {
    .container {
        width: 960px;
    }
    body {
        font-size: 14px;
    }
}

@media (max-width: 780px) {
    .region-news3-second {
        display: none;
    }
    .region-news4-second {
        display: none;
    }
}

@media (max-width: 560px) {
	body{
		font-size: 12px;
	}
    #section-header {
        .region-logo {
            width: 100%;
            // width: 160px;
        }
        .region-news2-second {
            display: none;
            // width: 180px;
            // width: 100%;
            #block-block-60 {
                padding-top: 10px;
                text-align: center;
            }
        }
    }
}
