body {
    font-family: calibri, open_sanslight;
    color: $base_black;
    font-size: 18px;
    position: relative;
}

.region-menu {
    clear: left;
    float: left;
}

#section-header {
    #block-menu-menu-mobit-main-menu,
    #block-superhero-dropdown-superhero-dropdown-block-2 {
        // padding: 13px 0px;
        // margin-bottom: 2em;
        @include transition(margin-bottom 0.7s ease 0s);
        .menu {
            padding: 0;
            li {
                list-style: none;
                list-style-image: none;
                &.first{
                    a {
                        padding-left: 0;
                    }
                }
                a {
                    font-family: calibri;
                    padding: 0 6px;
                    font-weight: bold;
                    font-size: 1.111em;
                    text-transform: none;
                    line-height: 55px;

                    @media (max-width: 1336px) {
                        line-height: 45px;
                    }
                }
                &.first {
                    margin-left: 0;
                }
            }
        }
        @media (min-width: 993px) {
            .superhero-dropdown > ul {
                float: left;
            }
        }
        @media (max-width: 992px) {
            .superhero-dropdown li {
                text-align: center;
            }
        }
    }
    #block-block-60 {
        padding-top: 40px;
        @include transition(padding-top 0.7s ease 0s);
        .content {
            h6 {
                margin: 0;
            }
        }
        @media (max-width: 992px) {
            padding-top: 20px;
        }
    }
    #block-block-61 {
        padding-top: 40px;
        @include transition(padding-top 0.7s ease 0s);
        .content {
            text-align: center;
            h5 {
                margin: 0;
            }
        }
        @media (max-width: 992px) {
            padding-top: 20px;
        }
    }
    #block-block-62 {
        margin-bottom: 2em;
        @include transition(margin-bottom 0.7s ease 0s);
        .content {
            text-align: center;
        }
        .mobit_btn {
            width: 100%;
        }
    }
    &.fixed-transition {
        #block-block-60 {
            padding-top: 18px;
        }
        #block-block-61 {
            padding-top: 18px;
        }
        #block-block-62,
        #block-block-63 {
            margin-bottom: 1em;
        }
    }
}

#section-latest {
    padding-bottom: 30px;
    background-color: $bg_gray;
}

#section-users {
    padding-top: 0;
    background-color: $bg_gray;
    .block {
        margin-top: 0;
        margin-bottom: 30px;
    }
}

#block-block-64,
#block-block-65 {
    ul {
        list-style-position: inside;
    }
    h5 {
        font-weight: bold;
        margin: 30px 0 20px 0;
    }
}

#section-news1 {
    padding-bottom: 50px;
    .block {
        padding-top: 0px;
        .block-title {
            padding: 0;
            margin: 60px 0;
        }
    }
}

.mobit_aims {
    margin-left: -15px;
    margin-right: -15px;
}

.mobit_aims__item {
    text-align: center;
    border: 1px solid $order_btn;
    border-radius: 8px;
    padding: 0 12%;
    min-height: 230px;
}

.mobit_aims__item_wrap {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mobit_aims__img {
    padding-top: 20%;
    padding-bottom: 25%;
}

.mobit_aims__title {}

#block-block-68 {
    .content {
        text-align: right;
    }
}

#section-team {
    background: $bg_gray;
}

#block-block-69 {
    .block-title {
        margin: 0px 15px 125px 15px;
    }
}

.per-quote {}

.per-quote__item {
    border: 2px solid $order_btn;
    border-radius: 5px;
    text-align: center;
    background: #fff;
}

.per-quote__img {
    background: $green_light;
    border-radius: 100%;
    border: 2px solid $order_btn;
    width: 150px;
    height: 150px;
    margin: -50px auto 0 auto;
    line-height: 130px;
    @media (max-width: 1336px) {
        width: 100px;
        height: 100px;
        img {
            height: 60px;
            line-height: 100px;
            margin-top: -50px;
        }
    }
}

.per-quote__title {
    padding: 2em 0;
    font-size: 1.556em;
}

.per-quote__salary {
    background: $base_blue;
    color: #fff;
    padding: .5em 0;
    font-size: 1.556em;
    margin-left: -15px;
    margin-right: -15px;
}

#section-tweets {
    background: url(/sites/all/themes/consilium/images/webform-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .region-tweet {
        margin: 0 15px;
        font-family: calibri;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
    }
}

#block-block-71 {
    margin-top: 30px;
    margin-bottom: 30px;
    .block-title {
        color: #fff;
        font-weight: bold;
    }
    .content {
        color: #fff;
        // font-size: 2em;
    }
}

#block-block-72 {
    padding: 0 15px;
}

#block-webform-client-block-89 {
    .block-title {
        color: #fff;
    }
    .content {
        color: #fff;
    }
    .form-item,
    .form-actions {
        display: inline-block;
        width: 270px;
        margin-right: 30px;
        .form-text {
            @include box-sizing(border-box);
            width: 100%;
        }
    }
}

#block-block-70 {
    margin-bottom: 30px;
}

#section-feature {
    background: $bg_gray;
    .mobit_subject {}
    .mobit_subject__item {
        border-radius: 50%;
        padding: 12px;
        @include transition(border-radius 0.3s ease-out 0s);
        &:hover , &--active{
            border-radius: 5px;
            border: 2px solid $base_blue;
            padding: 10px;
            background: #fff;
        }
        &--active, &--active:hover{
            background: $order_btn;
            color: #fff;
            a{
                color: #fff;
            }
        }
        a {
            color: $base_blue;
            text-decoration: underline;
        }
    }
    .mobit_subject__img {
        width: 118px;
        height: 118px;
        margin: 20px auto;
        text-align: center;
        line-height: 118px;
        background: $base_blue;
        border-radius: 100%;
        @media (max-width: 1336px) {
            width: 80px;
            height: 80px;
            line-height: 80px;
            img {
                height: 40px !important;
                width: auto !important;
            }
        }
    }
    .mobit_subject__title {
        text-align: center;
        margin: 20px 0;
    }
}

#section-clients {
    background: none !important;
}

.ctrl_proccess__step {
    img {
        border: 1px solid $order_btn;
    }
    &--arrow-right {
        background: url(/sites/default/files/mobit/arrow_right.png) no-repeat right center;
        height: 30px;
        margin-top: 11%;
    }
    &--arrow-down {
        background: url(/sites/default/files/mobit/arrow_down.png) no-repeat center bottom;
    }
    &--arrow-left {
        background: url(/sites/default/files/mobit/arrow_left.png) no-repeat left center;
        height: 30px;
        margin-top: 11%;
    }
    &--arrow-up {
        background: url(/sites/default/files/mobit/arrow_up.png) no-repeat center top;
    }
    &--1 {
        padding-right: 0;
    }
    &--2 {
        padding-left: 0;
    }
    &--3 {
        padding-right: 0;
    }
    &--4 {
        padding-left: 0;
    }
}

.ctrl_proccess__title {
    height: 145px;
    padding: 20px 0;
}

.ctrl_proccess__img {
    position: relative;
}

.ctrl_proccess_step-order {
    background: $order_btn;
    font-size: 4.056em;
    color: #fff;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    right: 30px;
    bottom: -50px;
    @media (max-width: 1336px) {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }
}

#block-block-73 {
    margin: 0 15px;
    .block-title {
        margin: 60px 0;
    }
}

#section-news2 {
    background: $bg_gray;
    #block-md-slider-5 {
        padding-top: 0;
        .block-title {
            padding-top: 0;
            margin-bottom: 60px;
            max-width: 600px;
        }
    }
    #block-block-74 {
        .block-title {
            padding-top: 0;
            margin-bottom: 70px;
        }
    }
}

#block-md-slider-5 {
    padding: 30px 15px;
}

#block-md-slider-7 {
    margin-left: -120px;
}

#block-md-slider-1{
    .md-bullets{
        display: none;
    }
}

.md-slide-bullet-1,
.md-slide-bullet-3 {
    .md-bullets {
        bottom: 80px;
        display: none;
        .md-bullet {
            border: 1px solid $order_btn;
            border-radius: 13px;
            background: #fff;
            height: 26px;
            width: 26px;
            overflow: hidden;
            a {
                height: 26px;
                width: 26px;
            }
            &.md-current a {
                background: $order_btn;
            }
        }
    }
}
